@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&display=swap');
@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  background-color: #050404;
  font-family: 'Recursive', sans-serif;
}

* {
  font-family: 'Recursive', sans-serif;
}